<!DOCTYPE html>
<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Техподдержка</title>
        <meta name="Description" content="Техническая документация по установке и монтажу паровых котлов и зерновых
            сушилок"/>
        <meta name="Keywords" content="Инструкция по установке парового котла, парогенератора, чертеж котла парового
            водогрейного,
            руководство по эксплуатации котла отопительного на твердом топливе,
            водогрейные котлы на твердом топливе, твердотопливный котел, двухконтурные котлы твердотопливные,
            схема монтажа, Украина, Днепропетровск"/>
        <link type="text/css" rel="stylesheet" href="../css/support.css"/>
    </head>
    <body>
    <div class="wrapper">
        <div class="header">
            <h1>Тепло+Техника</h1>
        </div>
        <!--Start of menu buttons-->
        <div class="menu">

            <a href="../index.html">
                <div class="inline menu-element">
                    Главная
                </div>
            </a>

            <div class="inline menu-element">
                <ul class="dropdown">
                    <li><div class="menu-main_box">Наша продукция</div>
                        <ul>
                            <li>
                                <a href="products/parogen-1lvl.html">
                                    <div class="menu-box">
                                        Паровой котел одноконтурный на твердом топливе
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="products/parogen-2lvl.html">
                                    <div class="menu-box">
                                        Парогенератор двухконтурный на твердом топливе
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="products/water-heating-boiler.html">
                                    <div class="menu-box">
                                        Водогрейный котел на твердом топливе
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="products/roasters-steam.html">
                                    <div class="menu-box">
                                        Жаровни паровые
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="products/heat-gen-solid-fuel.html">
                                    <div class="menu-box">
                                        Теплогенератор на твердом топливе
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
            </div>

            <a href="support.html" target="_blank">
                <div class="inline menu-element">Техподдержка</div>
            </a>
            <a href="contacts.html" target="_blank">
                <div class="inline menu-element">Контакты</div>
            </a>
        </div>
        <!--End of menu buttons-->

        <!--Documents-->
        <div class="documents">
            <table>
                <tr>
                    <td>Руководство по эксплуатации котла водогрейного</td>
                    <td>
                        <a href="../docs/Инструкция.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Руководство по эксплуатации парового котла</td>
                    <td>
                        <a href="../docs/Инструкция_2.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Руководство по эксплуатации двухконтурного парового котла (парогенератора)</td>
                    <td>
                        <a href="../docs/Инструкциядвухконтурный.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Технический паспорт</td>
                    <td>
                        <a href="../docs/PASPORT_29-33.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Схема монтажа одноконтурного котла</td>
                    <td>
                        <a href="../docs/Монтаж-котла.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Схема монтажа двухконтурного котла</td>
                    <td>
                        <a href="../docs/Схема-2х-контурника.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Схема подключения датчиков, шнека и дымососа к блоку управления котлом</td>
                    <td>
                        <a href="../docs/Схема-подключения-датчиков-шнека-и-дымососа-к-блоку-управления-котлом.doc" download>
                            <div class="arrow-download"></div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <!--End of documents-->
        <div class="white-space"></div>
    </div>
    </body>
</html>