<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Meatparty</title>
</head>
<body>
<table align="center">
    <!--Main company image-->
    <tr>
        <td colspan="3" bgcolor="orange" width="800px" height="200px" align="center">
            <img src="../images/meat_main.png" height="250px" width="200px" alt=""/>
        </td>
        <!--Start authorization forms-->
        <td bgcolor="orange" align="center" width="304px" height="200px">
            <table>
                <caption><strong>Sign in</strong></caption>
                <form action="" method="get">
                    <tr>
                        <td>
                            <label for="sign_form_1">Login:</label>
                            <br/>
                            <input type="text" name="login" id="sign_form_1" placeholder="Your login"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="sign_form_2">Password:</label>
                            <br/>
                            <input type="password" id="sign_form_2" name="pass" placeholder="Your password"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="Sign in"/>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td align="center">
                            <a href="reg.html">
                                <input type="button" align="center" value="Sign up"/>
                            </a>
                        </td>
                    </tr>
                </form>
                <!--End of authorization forms-->
            </table>
        </td>
    </tr>
</table>
<table align="center" cellspacing="20px" bgcolor="orange">
    <!--Start menu-->
    <tr>
        <td width="200px">
            <table cellpadding="5px" bgcolor="orange">
                <tr>
                    <td width="300px">
                        <p align="center"><strong>Menu</strong></p>
                        <ul>
                            <a href="../index.html"><li>Home</li></a>
                            <br/>
                            <a href="about.html"><li>About</li></a>
                            <br/>
                            <a href="gallery.html"><li>Gallery</li></a>
                            <br/>
                            <a href="contacts.html"><li>Contacts</li></a>
                            <br/>
                            <a href="order.html"><li>Order</li></a>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td height="400px"></td>
                </tr>
            </table>

        </td>
        <!--End of menu-->
        <!--Start of contacts-->
        <td width="500px">
            <table cellpadding="15px">
                <tr>
                    <td colspan="2" align="center">
                        <h1>Свяжитесь с нами</h1>
                    </td>
                </tr>
                <tr>
                    <td width="150px">
                        <p align="justify">
                            Наш онлайн сервис работает 24/7.<br/> Вы можете оставить свой запрос и наш
                            агент свяжеться с вами в указанное вами время.
                        </p>
                    </td>
                    <td>
                        <p>Так же вы можете связаться с нашим контактным центром</p>
                        <ul type="disc">
                            <li>Украина</li>
                                <ol>
                                    <li>+38063-225-48-17</li>
                                    <li>+38067-854-79-58</li>
                                </ol>
                            <li>Польша</li>
                                <ol>
                                    <li>*48-154-257-456</li>
                                    <li>*48-587-954-111</li>
                                </ol>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Наша электронная почта:</p>
                        <ol>
                            <li>
                                example@gmail.com
                            </li>
                            <li>
                                example@i.ua
                            </li>
                        </ol>
                    </td>
                    <td>
                        <p>Наш почтовый адрес: <br/> <strong>49106, ул. Центральная 8, г. Днепропетровск</strong></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.7933424348025!2d35.04204991521967!3d48.46049453659449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe2de41827c8b%3A0x75296a90809e93c8!2z0LLRg9C7LiDQnNC40YXQsNC50LvQsCDQk9GA0YPRiNC10LLRgdGM0LrQvtCz0L4sIDUtNywg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC6LCDQlNC90ZbQv9GA0L7Qv9C10YLRgNC-0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1sru!2sua!4v1456943486448" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </td>
                </tr>
            </table>
        </td>
        <!--End of contacts-->
        <!--Advertising-->
        <td>
            <a href="http://rozetka.ua" target="_blank">
                <img src="../images/rozetka.jpeg" width="300px" height="300px" alt="advertising_1" vspace="30px"/>
            </a>
            <br/>
            <a href="http://windows.microsoft.com/uk-ua/internet-explorer/download-ie" target="_blank">
                <img src="../images/ishak.png" width="300px" height="300px" alt="advertising_2" vspace="30px"/>
            </a>
        </td>
    </tr>
    <!--End of Advertising-->
    <!--Partners-->
    <tr>
        <td bgcolor="orange" width="" height="250px" colspan="4">
            <h1 align="center"><strong>Partners:</strong></h1>
            <a href="https://www.microsoft.com/uk-ua/" target="_blank">
                <img src="../images/microsoft.png" alt="partner_1" width="200px" height="100px" hspace="35px"/>
            </a>
            <a href="http://google.com" target="_blank">
                <img src="../images/google.png" alt="partner_2" width="200" height="100px" hspace="35px"/>
            </a>
            <a href="https://ru.wikipedia.org/" target="_blank">
                <img src="../images/wiki.png" alt="partner_3" width="170px" height="100px" hspace="35px"/>
            </a>
            <a href="https://www.linux.org.ru/" target="_blank">
                <img src="../images/Linux.png" alt="partner_4" width="200px" height="100px" hspace="35px"/>
            </a>
            <p align="center">Bavykin&#169;</p>
    </tr>
    <!--End of Partners-->
</table>
</body>
</html>