<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Meatparty</title>
</head>
<body>
<table align="center">
    <!--Main company image-->
    <tr>
        <td colspan="3" bgcolor="orange" width="800px" height="200px" align="center">
            <img src="../images/meat_main.png" height="250px" width="200px" alt=""/>
        </td>
        <!--Start authorization forms-->
        <td bgcolor="orange" align="center" width="304px" height="200px">
            <table>
                <caption><strong>Sign in</strong></caption>
                <form action="home.html" method="get">
                    <tr>
                        <td>
                            <label for="login">Login:</label>
                            <br/>
                            <input type="text" name="login" id="login" placeholder="Your login"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password:</label>
                            <br/>
                            <input type="password" id="sign_form_2" name="pass" placeholder="Your password"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="submit" value="Sign in"/>
                        </td>
                    </tr>
                </form>
                    <tr></tr>
                    <tr>
                        <form action="reg.html" method="get">
                        <td align="center">
                                <input type="button" align="center" value="Sign up" disabled/>
                        </td>
                    </tr>
                        </form>
                <!--End of authorization forms-->
            </table>
        </td>
    </tr>
</table>
<table align="center" cellspacing="20px" bgcolor="orange">
    <!--Start menu-->
    <tr>
        <td width="200px">
            <table cellpadding="5px" bgcolor="orange">
                <tr>
                    <td width="300px">
                        <p align="center"><strong>Menu</strong></p>
                        <ul>
                            <a href="../index.html"><li>Home</li></a>
                            <br/>
                            <a href="about.html"><li>About</li></a>
                            <br/>
                            <a href="gallery.html"><li>Gallery</li></a>
                            <br/>
                            <a href="contacts.html"><li>Contacts</li></a>
                            <br/>
                            <a href="order.html"><li>Order</li></a>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td height="400px"></td>
                </tr>
            </table>

        </td>
        <!--End of menu-->
        <!--Start of registration-->
        <td width="500px">
            <table align="center" cellpadding="10px">
                <form method="post" action="home.html" enctype="multipart/form-data">
                    <tr>
                        <td>
                            <label for="login">Login:<sup style="color:red">*</sup></label>
                        </td>
                        <td>
                            <input type="text" placeholder="Your login" name="login" required autofocus id="login"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password:<sup style="color:red">*</sup></label>
                        </td>
                        <td>
                            <input type="password" placeholder="Your password" id="password" name="pass" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="repeat_password">Repeat password:<sup style="color:red">*</sup></label>
                        </td>
                        <td>
                            <input type="password" placeholder="Repeat your password" id="repeat_password" name="pass" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">E-mail:<sup style="color:red">*</sup></label>
                        </td>
                        <td>
                            <input type="email" placeholder="Your e-mail" id="email" name="e-m" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone_number">Phone number:<sup style="color:red">*</sup></label>
                        </td>
                        <td>
                            <input type="tel" placeholder="380677233614" id="phone_number" name="ph_numb" required/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="date">Date of registration:</label>
                        </td>
                        <td>
                            <input type="date" name="date_of" id="date"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="photo">Profile photo</label>
                        </td>
                        <td>
                            <input type="file" name="photo" id="photo"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="sex">Sex:</label>
                        </td>
                        <td>
                            <p><input type="radio" name="sex" value="Male" id="sex"/>Male</p>
                            <p><input type="radio" name="sex" value="Female" id="sex"/>Female</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="colour">Favorite colour:</label>
                        </td>
                        <td>
                            <input type="color" name="color" id="colour"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="quantity">How often do you<br/> use our service:</label>
                        </td>
                        <td>
                            <input type="number" name="quantity" id="quantity"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="habits">Pernicious habits:</label>
                        </td>
                        <td>
                            <p><input type="checkbox" name="check_habits" value="check_1" id="habits"/>Smoking</p>
                            <p><input type="checkbox" name="check_habits" value="check_2" id="habits"/>Drinking</p>
                            <p><input type="checkbox" name="check_habits" value="check_3" id="habits"/>Drugs</p>
                            <p><input type="checkbox" name="check_habits" value="check_4" id="habits"/>Studing in DNU</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="comment">Commentary:</label>
                        </td>
                        <td>
                            <textarea id="comment" name="comment" placeholder="Your commentary" rows="7" cols="25" maxlength="299"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="meat">Choose your<br/> favorite meat:</label>
                        </td>
                        <td><p><select size="4" id="meat">
                            <option disabled>Choose meat</option>
                            <option value="chicken">Chicken</option>
                            <option value="cow">Cow</option>
                            <option value="mutton">Mutton</option>
                        </select></p></td>
                    </tr>
                    <tr align="center">
                        <td colspan="2">
                            <input type="submit" value="Send"/>
                            <br/>
                            <br/>
                            <input type="reset" value="Reset"/>
                        </td>
                    </tr>
                </form>
            </table>
        </td>
        <!--End of registration-->
        <!--Advertising-->
        <td>
            <a href="http://rozetka.ua" target="_blank">
                <img src="../images/rozetka.jpeg" width="300px" height="300px" alt="advertising_1" vspace="40px"/>
            </a>
            <br/>
            <a href="http://windows.microsoft.com/uk-ua/internet-explorer/download-ie" target="_blank">
                <img src="../images/ishak.png" width="300px" height="300px" alt="advertising_2" vspace="40px"/>
            </a>
        </td>
    </tr>
    <!--End of Advertising-->
    <!--Partners-->
    <tr>
        <td bgcolor="orange" width="" height="250px" colspan="4">
            <h1 align="center"><strong>Partners:</strong></h1>
            <a href="https://www.microsoft.com/uk-ua/" target="_blank">
                <img src="../images/microsoft.png" alt="partner_1" width="200px" height="100px" hspace="35px"/>
            </a>
            <a href="http://google.com" target="_blank">
                <img src="../images/google.png" alt="partner_2" width="200" height="100px" hspace="35px"/>
            </a>
            <a href="https://ru.wikipedia.org/" target="_blank">
                <img src="../images/wiki.png" alt="partner_3" width="170px" height="100px" hspace="35px"/>
            </a>
            <a href="https://www.linux.org.ru/" target="_blank">
                <img src="../images/Linux.png" alt="partner_4" width="200px" height="100px" hspace="35px"/>
            </a>
            <p align="center">Bavykin&#169;</p>
    </tr>
    <!--End of Partners-->
</table>
</body>
</html>