<!DOCTYPE html>
<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Теплогенератор на твердом топливе</title>
        <meta name="Description" content="паровой котел, производство, купить"/>
        <meta name="Keywords" content="паровой котел, парогенератор, котел паровой водогрейный,
            паровой котел цена, котел отопительный на твердом топливе,
            водогрейные котлы на твердом топливе, твердотопливный котел, двухконтурные котлы твердотопливные,
            купить котел, производство, зерносушилка, Украина, Днепропетровск"/>
        <link type="text/css" rel="stylesheet" href="../../css/heat-gen-solid-fuel.css"/>
    </head>
    <body>
        <div class="wrapper">
            <a name="top"></a>
            <div class="header">
                <h1>Тепло+Техника</h1>

            </div>

            <!--Start of menu buttons-->

            <div class="menu">

                <a href="../../index.html">
                    <div class="inline menu-element">
                        Главная
                    </div>
                </a>

                <div class="inline menu-element">
                    <ul class="dropdown">
                        <li><div class="menu-main_box">Наша продукция</div>
                            <ul>
                                <li>
                                    <a href="parogen-1lvl.html">
                                        <div class="menu-box">
                                            Паровой котел одноконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="parogen-2lvl.html">
                                        <div class="menu-box">
                                            Парогенератор двухконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="parogen-2lvl.html">
                                        <div class="menu-box">
                                            Водогрейный котел на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="roasters-steam.html">
                                        <div class="menu-box">
                                            Жаровни паровые
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="heat-gen-solid-fuel.html">
                                        <div class="menu-box">
                                            Теплогенератор на твердом топливе
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                </div>

                <a href="../support.html" target="_blank">
                    <div class="inline menu-element">Техподдержка</div>
                </a>
                <a href="../contacts.html" target="_blank">
                    <div class="inline menu-element">Контакты</div>
                </a>
            </div>

            <!--End of menu buttons-->

            <!--Content-->

            <div class="header"><h1>Теплогенератор на твердом топливе</h1></div>
            <div class="image"></div>
            <div class="content-text">Теплогенератор на твердом топливе для сушки продуктами сгорания
                зерновых и масличных культур, пиломатериалов и т.п.<br/><br/>
                Теплогенератор может использоваться совместно с типовыми сушилками вместо горелок сжигающих природный
                газ и жидкое топливо. В качестве топлива можно использовать отходы сельского хозяйства
                (кочаны кукурузы, лузга семечки подсолнечника, шелуха гречки и овса), а так же отходы
                деревообрабатывающей промышленности (опилки и др). Подача топлива в топку автоматическая.<br/><br/>
                Сушку можно осуществлять как дымовыми газами так и нагретым воздухом. Температура воздуха может
                составлять от 20 до 400 градусов Цельсия. При таком диапазоне температур можно осуществлять сушку не
                только зерна, но и других продуктов и материалов.<br/><br/>
                Сжигание топлива осуществляется в вихревой топочной камере сгорания с принудительным движением воздуха,
                что обеспечивает высокий коэффициент полезного действия при минимальных габаритно-весовых
                характеристиках. Данный теплогенератор позволит Вам не только сэкономить энергоресурсы,
                но и избавиться от технологических отходов.<br/><br/>
            </div>
            <div class="content">
                    <div class="inline">
                        <strong>Основные технические характеристики:</strong>
                        <table border="1px">
                            <tr>
                                <td>Мощность тепловая, кВт</td>
                                <td>1000</td>
                            </tr>
                            <tr>
                                <td>Расход теплоносителя, м3/ч</td>
                                <td>24000</td>
                            </tr>
                            <tr>
                                <td>Температура теплоносителя на выходе, С°</td>
                                <td>до 300</td>
                            </tr>
                            <tr>
                                <td>Расход топлива, кг/ч</td>
                                <td>150-200</td>
                            </tr>
                            <tr>
                                <td>Расход электроэнергии, кВт, не более</td>
                                <td>35</td>
                            </tr>
                            <tr>
                                <td>Время выхода ТГ на устойчивый режим работы, ч</td>
                                <td>0.5-1</td>
                            </tr>
                            <tr>
                                <td>Габаритные размеры, мм</td>
                                <td>2820x2580x3190</td>
                            </tr>
                            <tr>
                                <td>Масса, кг</td>
                                <td>3500</td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-list inline">
                        <span>
                            В комплект поставки входят:<br/>
                        </span>
                    <ul class="inline">
                        <li>теплогенератор</li>
                        <li>шнек топливоподачи</li>
                        <li>вентилятор наддува</li>
                        <li>вентилятор-дымосос – 2шт</li>
                        <li>пульт управления</li>
                        <li>КИП</li>
                    </ul>
                    <br/>
                        <span>
                            Теплогенератор может комплектоваться теплообменником для сушки чистым воздухом.<br/>
                            Теплогенератор изготавливается под заказ.<br/> Срок изготовления 3 мес. со дня поступления
                            аванса.
                        </span>
                    </div>
                <div class="image2 inline"></div>
            </div>
            <div class="white-space">
                <a href="#top">
                    <div class="anch-up"></div>
                </a>
            </div>

        </div>
    </body>
</html>