<!DOCTYPE html>
<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Жаровни паровые</title>
        <meta name="Description" content=""/>
        <meta name="Keywords" content=""/>
        <link type="text/css" rel="stylesheet" href="../../css/roasters-steam.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Тепло+Техника</h1>
            </div>

            <!--Start of menu buttons-->

            <div class="menu">

                <a href="../../index.html" target="_blank">
                    <div class="inline menu-element">
                        Главная
                    </div>
                </a>

                <div class="inline menu-element">
                    <ul class="dropdown">
                        <li><div class="menu-main_box">Наша продукция</div>
                            <ul>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Паровой котел одноконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Парогенератор котел двухконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Водогрейный котел на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="roasters-steam.html">
                                        <div class="menu-box">
                                            Жаровни паровые
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="heat-gen-solid-fuel.html">
                                        <div class="menu-box">
                                            Теплогенератор на твердом топливе
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                </div>

                <a href="../support.html" target="_blank">
                    <div class="inline menu-element">Техподдержка</div>
                </a>
                <a href="../contacts.html" target="_blank">
                    <div class="inline menu-element">Контакты</div>
                </a>
            </div>

            <!--End of menu buttons-->

            <!--Content-->

            <div class="header"><h1>Жаровни паровые</h1></div>
            <div class="content-text">Жаровня паровая «ЭКОТЕП» предназначена для тепловой обработки мятки масличных культур.
                При влаго-тепловой обработке происходит изменение физико-механических свойств мятки, уменьшение
                поверхностных сил, удерживающих масло в мятке, за счет чего резко увеличивается выход масла
                при дальнейшем отжиме.
            </div>
            <div class="image">
                <div class="image1 inline"></div>
                <div class="image2 inline"></div>
            </div>
            <div>
                <table border="1px">
                    <tr>
                        <th>Технические характеристики</th>
                        <th>Жаровня «ЭКОТЕП» 1500/6</th>
                        <th>Жаровня «ЭКОТЕП» 1500/3</th>
                    </tr>
                    <tr>
                        <td>Производительность по семенам подсолнечника т/сут (макс.)</td>
                        <td>25-30</td>
                        <td>12-15</td>
                    </tr>
                    <tr>
                        <td>Количество чанов</td>
                        <td>6</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Внутренний диаметр чанов, мм</td>
                        <td colspan="2">1500</td>
                    </tr>
                    <tr>
                        <td>Вид теплоносителя</td>
                        <td colspan="2">Насыщенный водяной пар</td>
                    </tr>
                    <tr>
                        <td>Рабочее давление, МПа</td>
                        <td colspan="2">0.6</td>
                    </tr>
                    <tr>
                        <td>Температура теплоносителя С°</td>
                        <td colspan="2">165</td>
                    </tr>
                    <tr>
                        <td>Расход теплоносителя, кг/ч, не более</td>
                        <td>160</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Установленная мощность электродвигателя кВт.</td>
                        <td>7.5</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Габаритные размеры: высота / диаметр</td>
                        <td>4400/1900</td>
                        <td>3700/1900</td>
                    </tr>
                    <tr>
                        <td>Масса кг, не более</td>
                        <td>5500</td>
                        <td>3500</td>
                    </tr>
                </table>
            </div>
            <div class="list">
                <strong>Комплект поставки:</strong>
                <ul>
                    <li>Чаны жаровни;</li>
                    <li>Аспирационный узел;</li>
                    <li>Коллекторы подачи пара и слива конденсата;</li>
                    <li>Электродвигатель и редуктор;</li>
                    <li>Вентили отгазовки воздуха;</li>
                    <li>Предохранительный клапан.</li>
                </ul>
            </div>
        </div>
    </body>
</html>