<!DOCTYPE html>
<html>
    <head lang="ru">
        <meta charset="UTF-8">
        <title>Жаровни паровые</title>
        <meta name="Description" content=""/>
        <meta name="Keywords" content=""/>
        <link type="text/css" rel="stylesheet" href="../../css/roasters-steam.css"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>Тепло+Техника</h1>
            </div>

            <!--Start of menu buttons-->

            <div class="menu">

                <a href="../../index.html" target="_blank">
                    <div class="inline menu-element">
                        Главная
                    </div>
                </a>

                <div class="inline menu-element">
                    <ul class="dropdown">
                        <li><div class="menu-main_box">Наша продукция</div>
                            <ul>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Паровой котел одноконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Парогенератор котел двухконтурный на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Водогрейный котел на твердом топливе
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="roasters-steam.html">
                                        <div class="menu-box">
                                            Жаровни паровые
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div class="menu-box">
                                            Теплогенератор на твердом топливе
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                </div>

                <a href="../support.html" target="_blank">
                    <div class="inline menu-element">Техподдержка</div>
                </a>
                <a href="../contacts.html" target="_blank">
                    <div class="inline menu-element">Контакты</div>
                </a>
            </div>

            <!--End of menu buttons-->

            <!--Content-->

            <div class="header"><h1>Жаровни паровые</h1></div>
            <div class="content-text">Жаровня паровая «ЭКОТЕП» предназначена для тепловой обработки мятки масличных культур.
                При влаго-тепловой обработке происходит изменение физико-механических свойств мятки, уменьшение
                поверхностных сил, удерживающих масло в мятке, за счет чего резко увеличивается выход масла
                при дальнейшем отжиме.
            </div>
            <div class="image">
                <div class="image1"></div>
                <div class="image2"></div>
            </div>
        </div>
    </body>
</html>