<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Водогрейный котел на твердом топливе</title>
    <meta name="Description" content="Производство, продажа котел паровой"/>
    <meta name="Keywords" content="паровой котел, парогенератор, котел паровой водогрейный,
            паровой котел цена, котел отопительный на твердом топливе,
            водогрейные котлы на твердом топливе, твердотопливный котел, двухконтурные котлы твердотопливные,
            купить котел, производство, зерносушилка, Украина, Днепропетровск"/>
    <link type="text/css" rel="stylesheet" href="../../css/parogen-2lvl.css"/>
</head>
<body>
<div class="wrapper">
<a name="top"></a>
<div class="header">
    <h1>Тепло+Техника</h1>

</div>

<!--Start of menu buttons-->

<div class="menu">

    <a href="../../index.html">
        <div class="inline menu-element">
            Главная
        </div>
    </a>

    <div class="inline menu-element">
        <ul class="dropdown">
            <li><div class="menu-main_box">Наша продукция</div>
                <ul>
                    <li>
                        <a href="parogen-1lvl.html">
                            <div class="menu-box">
                                Паровой котел одноконтурный на твердом топливе
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="parogen-2lvl.html">
                            <div class="menu-box">
                                Парогенератор двухконтурный на твердом топливе
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="water-heating-boiler.html">
                            <div class="menu-box">
                                Водогрейный котел на твердом топливе
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="roasters-steam.html">
                            <div class="menu-box">
                                Жаровни паровые
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="heat-gen-solid-fuel.html">
                            <div class="menu-box">
                                Теплогенератор на твердом топливе
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
    </div>

    <a href="../support.html" target="_blank">
        <div class="inline menu-element">Техподдержка</div>
    </a>
    <a href="../contacts.html" target="_blank">
        <div class="inline menu-element">Контакты</div>
    </a>
</div>

<!--End of menu buttons-->

<!--Content-->
<div class="header"><h1>Водогрейный котел на твердом топливе</h1></div>
<div class="main-images">
    <div class="image-main">
        <img src="../../images/main/Vodog_par_kot1.jpg" alt=""/>

        <!--<a href="index.html">Водогрейный котел</a>-->
    </div>
    <div class="image-main">
        <img src="../../images/main/parogen1.jpg" alt=""/>
        <!--<a href="index.html">Парогенератор</a>-->
    </div>
</div>
<div class="content-text"><strong>Парогенератор</strong> (он же паровой котел) — аппарат для производства водяного пара,
    используемого в теплоносителях в системах отопления, и в технологических целях в химической и
    пищевой промышленности.
</div>
<div class="schems">
    <div>
        <div class="inline">
            <a href="../../images/pargen-2lvl/warmtrade.jpg" target="_blank">
                <div class="warmtrade"></div>
            </a>
            <div>Теплообменник</div>
        </div>
        <div class="inline">
            <a href="../../images/pargen-2lvl/warmresist.jpg" target="_blank">
                <div class="warmresist"></div>
            </a>
            <div>Теплоизоляция</div>
        </div>
        <div class="inline">
            <a href="../../images/pargen-2lvl/control1.jpg" target="_blank">
                <div class="control1 inline"></div>
            </a>
            <a href="../../images/pargen-2lvl/control2.jpg" target="_blank">
                <div class="control2 inline"></div>
            </a>
            <div style="margin: -4px 0">Пульт управления с датчиками</div>
        </div>
    </div>
    <div>
        <div class="inline">
            <a href="../../images/pargen-2lvl/size1.jpg" target="_blank">
                <div class="size1 inline"></div>
            </a>
            <a href="../../images/pargen-2lvl/size2.jpg" target="_blank">
                <div class="size2 inline"></div>
            </a>
            <div>Габаритный эскиз</div>
        </div>
        <div class="inline">
            <a href="../../images/pargen-2lvl/placing1.jpg" target="_blank">
                <div class="placing1 inline"></div>
            </a>
            <a href="../../images/pargen-2lvl/placing2.jpg" target="_blank">
                <div class="placing2 inline"></div>
            </a>
            <div>Размещение котла</div>
        </div>
    </div>
</div>
<div class="content-text">В данном парогенераторе вода под высоким давлением поступает в теплообменник,
    нагреваемый за счёт сжигания твердого топлива. Проходя по нему, вода нагревается и испаряется.
    Данная конструкция парогенератора имеет ряд преимуществ, среди которых то, что в единицу времени
    нагревается только то количество воды, которое необходимо для производства заданного расхода пара,
    что позволяет оперативно изменять расход пара и, соответственно, затрат топлива.<br/><br/>

    Управление парогенератором осуществляется с помощью микропроцессорного пульта управления с встроенными
    датчиками. В данном парогенераторе осуществлена автоматическая шнековая подача топлива.<br/><br/>

    Сжигание топлива осуществляется в вихревой топочной камере сгорания с принудительным движением воздуха,
    что обеспечивает высокий коэффициент полезного действия при минимальных габаритно-весовых
    характеристиках.<br/><br/>

    Парогенератор изготавливается в двух основных модификациях под конкретные производственные нужды:<br/>
    <br/>
    <ul>
        <li>Паровой котел одноконтурный (пар по замкнутому контуру)</li>
        <li>Паровой котел двухконтурный (пар на расход)</li>
    </ul>
    <br/>
    В качестве топлива используются отходы сельского хозяйства (кочаны кукурузы, лузга семечки
    подсолнечника, шелуха гречки и овса), а так же отходы деревообрабатывающей промышленности
    (опилки, щепа и др. с влажностью не выше 25-30%), пеллеты и топливные брикеты, также в качестве
    топлива можно использовать дрова, уголь, и другие виды твердого топлива. Данный парогенератор позволит
    Вам не только сэкономить энергоресурсы, но и избавиться от технологических отходов.<br/><br/>
    <strong>Парогенераторы на твердом топливе — это выгодно:</strong><br/><br/>
    <ul>
        <li>дешевое топливо</li>
        <li>окупаемость парогенератора 2-3 месяца</li>
        <li>парогенератор не подлежат котлонадзору</li>
        <li>КПД парогенератора не менее 80%</li>
        <li>автоматическая подача топлива</li>
        <li>гарантия 1 год</li>
        <li>автоматизированное управление парогенератором</li>
        <li>чистка теплообменника, в зависимости от режимов эксплуатации, раз в 2 – 10 недель</li>
    </ul>
</div>
<div>
    <table border="1px">
        <caption><strong>Технические характеристики</strong></caption>
        <tr>
            <td></td>
            <th>Вариант 1</th>
            <th>Вариант 2</th>
        </tr>
        <tr>
            <td>Мощность тепловая, кВт</td>
            <td>30—120</td>
            <td>40—180</td>
        </tr>
        <tr>
            <td>Давление пара на выходе, атм</td>
            <td colspan="2">2-20</td>
        </tr>
        <tr>
            <td>Расход топлива, кг/час</td>
            <td colspan="2">до 30</td>
        </tr>
        <tr>
            <td>Потребляемая электрическая мощность, кВт</td>
            <td colspan="2">не более 5</td>
        </tr>
        <tr>
            <td>Габаритные размеры, мм</td>
            <td colspan="2">1500х1000х2200</td>
        </tr>
        <tr>
            <td>Масса, кг</td>
            <td colspan="2">1000</td>
        </tr>
        <tr>
            <td>Максимальный расход пара в час, кг/час</td>
            <td>150</td>
            <td>200</td>
        </tr>
        <tr>
            <td>КПД, %</td>
            <td colspan="2">80 и более</td>
        </tr>
        <tr>
            <td>
                Напряжение питания электрооборудования
                парогенератора, В
            </td>
            <td colspan="2">380</td>
        </tr>
        <tr>
            <td>Номинальная мощность дымососа, кВт</td>
            <td colspan="2">2</td>
        </tr>
        <tr>
            <td>Цена, грн</td>
            <td>105 000</td>
            <td>110 000</td>
        </tr>
    </table>
    <span><i>Цена может меняться в зависимости от модификации и комплектации</i></span>
</div>

<h2 class="warning al-center">Не подлежит котлонадзору и не требует регистрации!</h2>

<div class="content-text">
    Базовый комплект поставки:<br/><br/>
    <ul>
        <li>котел</li>
        <li>шнек подачи топлива</li>
        <li>дымосос электрический</li>
        <li>циклон-золоуловитель</li>
        <li>сепаратор-пароотделитель</li>
        <li>бачок-компенсатор уровня</li>
        <li>микропроцессорный пульт управления с датчиками</li>
    </ul>
    <br/>
    Мы выполняем первый пуск и наладку оборудования, а так же полную поддержку в гарантийный срок и
    поставку комплектующих в пост гарантийный период.<br/><br/>
    Парогенератор является полностью безопасным и снабжен тремя степенями защиты. Даже в исключительном
    случае прогара теплообменника  пламя в топке гаснет и процесс горения твердого топлива прекращается.
    <br/><br/>Данный парогенератор можно использовать:
    <ul>
        <li>для сушки леса и продуктов сельского хозяйства</li>
        <li>для пищевого производства</li>
        <li>на маслоэкстракторном производстве</li>
        <li>для термообработка пищевых продуктов при консервации и т.п.</li>
        <li>для иных промышленных нужд</li>
    </ul>
    <br/>
    Если опилки или шелуха семечки сухие, то дымовые газы от парогенератора на твердом топливе
    нашей разработки  практически не видны. При хорошо настроенном котле необходимость в чистке
    теплообменника пропадает, в то время как в аналогичных импортных парогенераторах теплообменник
    необходимо чистить каждую неделю согласно инструкции.<br/><br/>

    Окупаемость такого парогенератора при использовании твердого топлива составляет 2-3 месяца при
    круглосуточной работе.<br/><br/>

    При необходимости можно переделать такой парогенератор на газовый. Для этого достаточно вместо
    шнека установить газовую горелку в камеру сгорания.<br/><br/>
</div>
<a href="#top">
    <div class="anch-up"></div>
</a>
</div>
</body>
</html>